body{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBox{
    display: flex;
   width: 500px;
   height: 500px;
   border: 1px solid black;
   background-size: cover;
    overflow: hidden; 
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px rgb(100, 99, 99); 
}

img{
    width: 500px ;
    height:500px;
}

.box{
    display: flex;
    /* overflow: hidden;  */
    width: 500px;
    height: 500px;
}

